<div class="header-full-container-new-version">
  <div class="header-full-container-new-version-left">
    <div class="header-full-container-new-version-left-main">
      <h3>Aermyfus</h3>
    </div>

    <div class="header-full-container-new-version-left-logo">
      <a routerLink="/">
        <img src="assets/logo.png" alt="">
      </a>
    </div>

    <div class="header-full-container-new-version-left-menu ng-star-inserted">

      <!-- Juego -->
      <div class="header-full-container-new-version-left-menu-item">
        <span>Juego</span>
        <div class="header-full-container-new-version-left-menu-item-arrow"></div>

        <div class="dropdown-menu">
          <div class="dropdown-menu-top"></div>
          <div class="dropdown-menu-content">
            <a routerLink="/" class="linka">
              <div class="dropdown-menu-content-item">Descubrir</div>
            </a>
            <a routerLink="/ranking" class="linka">
              <div class="dropdown-menu-content-item">Clasificaciones</div>
            </a>
            <a routerLink="/register" class="linka">
              <div class="dropdown-menu-content-item">Registro</div>
            </a>
            <a routerLink="/download" class="linka">
              <div class="dropdown-menu-content-item">Descarga el juego</div>
            </a>
          </div>
        </div>
      </div>

      <!-- Actualidad -->
<div class="header-full-container-new-version-left-menu-item">
  <span>Actualidad</span>
  <div class="header-full-container-new-version-left-menu-item-arrow"></div>

  <div class="dropdown-menu">
    <div class="dropdown-menu-top"></div>
    <div class="dropdown-menu-content">

      <!-- Noticias → Facebook -->
      <a routerLink="/news" class="linka">
        <div class="dropdown-menu-content-item">Todas las noticias</div>
      </a>

      <!-- Guías → YouTube -->
      <a routerLink="/guide" class="linka">
        <div class="dropdown-menu-content-item">Guias</div>
      </a>

    </div>
  </div>
</div>

      <!-- Utilidades -->
      <div class="header-full-container-new-version-left-menu-item">
        <span>Utilidades</span>
        <div class="header-full-container-new-version-left-menu-item-arrow"></div>

        <div class="dropdown-menu">
          <div class="dropdown-menu-top"></div>
          <div class="dropdown-menu-content">
            <a href="https://retro.dofuscreator.com/" target="_blank" class="linka">
              <div class="dropdown-menu-content-item">Diseña tu set</div>
            </a>
            <a href="https://solomonk.fr/es/" target="_blank" class="linka">
              <div class="dropdown-menu-content-item">Enciclopedia Retro</div>
            </a>
            <a href="https://dofusdb.fr/es" target="_blank" class="linka">
              <div class="dropdown-menu-content-item">Enciclopedia Frigost</div>
            </a>
          </div>
        </div>
      </div>

      <!-- Redes -->
      <div class="header-full-container-new-version-left-menu-item">
        <span>Redes</span>
        <div class="header-full-container-new-version-left-menu-item-arrow"></div>

        <div class="dropdown-menu">
          <div class="dropdown-menu-top"></div>
          <div class="dropdown-menu-content">
            <a href="https://chat.whatsapp.com/GP7GydWP3VX58O9d5rBecX" target="_blank" class="linka">
              <div class="dropdown-menu-content-item">Whatsapp</div>
            </a>
            <a href="https://www.youtube.com/@aermyfus" target="_blank" class="linka">
              <div class="dropdown-menu-content-item">Canal de Youtube</div>
            </a>
            <a href="https://www.tiktok.com/@aermyfus" target="_blank" class="linka">
              <div class="dropdown-menu-content-item">TikTok</div>
            </a>
            <a href="https://www.facebook.com/aermyfusretro" target="_blank" class="linka">
              <div class="dropdown-menu-content-item">Facebook</div>
            </a>
          </div>
        </div>
      </div>

     <div class="header-full-container-new-version-left-menu-item">
    <a href="/tienda" class="menu-direct-link">
    <span>Tienda</span>
  </a>
  <div class="header-full-container-new-version-left-menu-item-direct"></div>
</div>




    </div>
  </div>

  <div class="header-full-container-new-version-right">
    <div class="header-full-container-new-version-right-item ng-star-inserted">
      
        <a href="/tienda" class="menu-direct-link"><div class="icon-shopping"></div></a>
    </div>

    <a *ngIf="!isLoggedIn" routerLink="/login" class="header-full-container-new-version-right-item ng-star-inserted">
      <div class="icon-login"></div>
    </a>

    <div *ngIf="isLoggedIn" class="header-full-container-new-version-left-menu-item header-user-menu">
      <img src="assets/avatar/avatar.png" alt="Avatar" class="user-avatar-header">
      <div class="dropdown-menu">
        <div class="dropdown-menu-top"></div>
        <div class="dropdown-menu-content user-dropdown-content">
          <div class="user-profile-header">
            <img src="assets/avatar/avatar.png" alt="Avatar" class="user-avatar-dropdown">
            <div class="user-info">
              <div class="user-name">{{ currentUser?.apodo }}#{{ currentUser?.id }}</div>
              <div class="user-subscription">{{ getSubscriptionStatus() }}</div>
            </div>
          </div>
          <div class="user-ogrinas-section">
            <img src="assets/ogrina.svg" alt="Ogrinas" class="ogrinas-icon">
            <div class="ogrinas-info">
              <div class="ogrinas-amount">Ogrinas: {{ currentUser?.ogrinas }}</div>
              <a href="/tienda" class="ogrinas-buy-link">Comprar Ogrinas</a>
            </div>
          </div>
          <a routerLink="/profile" class="linka">
            <div class="dropdown-menu-content-item">Gestión de cuenta</div>
          </a>
          <button (click)="logout()" class="linka logout-link">
            <div class="dropdown-menu-content-item">Desconexión</div>
          </button>
        </div>
      </div>
    </div>

    <button 
  routerLink="/download"
  class="play-header-button ng-star-inserted">
  Jugar
</button>

    <button
      type="button"
      class="burger-menu-button"
      (click)="toggleMobileMenu()"
      aria-label="Abrir menu"
      [attr.aria-expanded]="isMobileMenuOpen"
    >
      <div class="burger-menu-button-icon"></div>
    </button>

  </div>
</div>

<div class="mobile-menu-backdrop" [class.open]="isMobileMenuOpen" (click)="closeMobileMenu()"></div>

<div class="full-header-menu-mobile" [class.open]="isMobileMenuOpen">
  <div class="full-header-menu-mobile-header">
    <button type="button" class="full-header-menu-mobile-header-close" (click)="closeMobileMenu()" aria-label="Cerrar menu"></button>

    <div class="full-header-menu-mobile-header-logo">
      <a routerLink="/" (click)="closeMobileMenu()">
        <img src="assets/logo.png" alt="">
      </a>
    </div>
  </div>

  <div class="full-header-menu-mobile-body">
    <div class="fatheritemMobile">
      <button type="button" class="full-header-menu-mobile-body-list-item" (click)="toggleMobileSection('juego')">
        <span>Juego</span>
        <span>{{ isMobileSectionOpen('juego') ? '-' : '+' }}</span>
      </button>
      <div class="dropdown-menu" [class.active]="isMobileSectionOpen('juego')">
        <div class="dropdown-menu-content">
          <a routerLink="/" (click)="closeMobileMenu()"><div class="dropdown-menu-content-item">Descubrir</div></a>
          <a routerLink="/ranking" (click)="closeMobileMenu()"><div class="dropdown-menu-content-item">Clasificaciones</div></a>
          <a routerLink="/register" (click)="closeMobileMenu()"><div class="dropdown-menu-content-item">Registro</div></a>
          <a routerLink="/download" (click)="closeMobileMenu()"><div class="dropdown-menu-content-item">Descarga el juego</div></a>
        </div>
      </div>
    </div>

    <div class="fatheritemMobile">
      <button type="button" class="full-header-menu-mobile-body-list-item" (click)="toggleMobileSection('actualidad')">
        <span>Actualidad</span>
        <span>{{ isMobileSectionOpen('actualidad') ? '-' : '+' }}</span>
      </button>
      <div class="dropdown-menu" [class.active]="isMobileSectionOpen('actualidad')">
        <div class="dropdown-menu-content">
          <a routerLink="/news" (click)="closeMobileMenu()"><div class="dropdown-menu-content-item">Todas las noticias</div></a>
          <a routerLink="/guide" (click)="closeMobileMenu()"><div class="dropdown-menu-content-item">Guias</div></a>
        </div>
      </div>
    </div>

    <div class="fatheritemMobile">
      <button type="button" class="full-header-menu-mobile-body-list-item" (click)="toggleMobileSection('utilidades')">
        <span>Utilidades</span>
        <span>{{ isMobileSectionOpen('utilidades') ? '-' : '+' }}</span>
      </button>
      <div class="dropdown-menu" [class.active]="isMobileSectionOpen('utilidades')">
        <div class="dropdown-menu-content">
          <a href="https://retro.dofuscreator.com/" target="_blank" (click)="closeMobileMenu()"><div class="dropdown-menu-content-item">Diseña tu set</div></a>
          <a href="https://solomonk.fr/es/" target="_blank" (click)="closeMobileMenu()"><div class="dropdown-menu-content-item">Enciclopedia Retro</div></a>
          <a href="https://dofusdb.fr/es" target="_blank" (click)="closeMobileMenu()"><div class="dropdown-menu-content-item">Enciclopedia Frigost</div></a>
        </div>
      </div>
    </div>

    <div class="fatheritemMobile">
      <button type="button" class="full-header-menu-mobile-body-list-item" (click)="toggleMobileSection('redes')">
        <span>Redes</span>
        <span>{{ isMobileSectionOpen('redes') ? '-' : '+' }}</span>
      </button>
      <div class="dropdown-menu" [class.active]="isMobileSectionOpen('redes')">
        <div class="dropdown-menu-content">
          <a href="https://chat.whatsapp.com/GP7GydWP3VX58O9d5rBecX" target="_blank" (click)="closeMobileMenu()"><div class="dropdown-menu-content-item">Whatsapp</div></a>
          <a href="https://www.youtube.com/@aermyfus" target="_blank" (click)="closeMobileMenu()"><div class="dropdown-menu-content-item">Canal de Youtube</div></a>
          <a href="https://www.tiktok.com/@aermyfus" target="_blank" (click)="closeMobileMenu()"><div class="dropdown-menu-content-item">TikTok</div></a>
          <a href="https://www.facebook.com/aermyfusretro" target="_blank" (click)="closeMobileMenu()"><div class="dropdown-menu-content-item">Facebook</div></a>
        </div>
      </div>
    </div>

    <a routerLink="/tienda" class="full-header-menu-mobile-body-list-item" (click)="closeMobileMenu()">Tienda</a>

    <a *ngIf="!isLoggedIn" routerLink="/login" class="full-header-menu-mobile-body-list-item" (click)="closeMobileMenu()">Iniciar sesion</a>
    <a *ngIf="isLoggedIn" routerLink="/profile" class="full-header-menu-mobile-body-list-item" (click)="closeMobileMenu()">Mi perfil</a>
    <button *ngIf="isLoggedIn" type="button" class="full-header-menu-mobile-body-list-item" (click)="logout(); closeMobileMenu()">Cerrar sesion</button>

    <button
      routerLink="/download"
      (click)="closeMobileMenu()"
      class="play-header-button"
    >
      Jugar
    </button>
  </div>
</div>
