//Variables

$redDark: #a1262f;
$redMiddle: #c62836;
$redLight: #ee2f41;
$glide-class: 'glide' !default;
$glide-element-separator: '__' !default;
$glide-modifier-separator: '--' !default;

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
